<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Listen Now</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
<br></br>
        <iframe src="https://open.spotify.com/embed/track/5mORD275Z0zrFWGfwy2dHR" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>